<aside class="sidebar">

  
  <div class="sidebar-logo">

    
    <h2>LifeAI</h2>

  </div>

  
  <nav class="sidebar-menu">

    <a href="#" class="sidebar-item active">
      Dashboard
    </a>

    <a href="#" class="sidebar-item">
      Novo Exame
    </a>

    <a href="#" class="sidebar-item">
      Exames
    </a>

    <a href="#" class="sidebar-item">
      Fila de Prioridade
    </a>

    <a href="#" class="sidebar-item">
      Relatórios
    </a>

    <a href="#" class="sidebar-item">
      Configurações
    </a>

  </nav>

</aside>