<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <title>LifeAI • Criar Conta</title>

  <link href="https://fonts.cdnfonts.com/css/sf-pro-display" rel="stylesheet">

  
  <link rel="stylesheet" href="/static/CSS/styles.css">
</head>

<body>

  <main class="register-page">

    <section class="register-card">

      
      <a href="Login.html" class="back-login">
        ← Voltar para Login
      </a>

      
      <div class="register-header">
        <h1>Crie sua conta</h1>
      </div>

    
      <form class="register-form">

        <div class="input-group">
          <label for="crm">CRM ou E-mail</label>

          <input
            type="text"
            id="crm"
            placeholder="Digite seu CRM ou E-mail"
          >
        </div>

        <div class="input-group">
          <label for="password">Senha</label>

          <input
            type="password"
            id="password"
            placeholder="Digite sua senha"
          >
        </div>

        <div class="input-group">
          <label for="confirm-password">
            Confirme sua senha
          </label>

          <input
            type="password"
            id="confirm-password"
            placeholder="Digite sua senha novamente"
          >
        </div>

        
        <label class="terms-check">

        <input type="checkbox">

        <span>
            Li e concordo com os
        <a href="#">termos</a>.
        </span>

        </label>

        <a href="Dashboard.html" class="btn-primary">
        Criar conta
        </a>

        </form>

        </form>

    </section>

  </main>

</body>
</html>